{% extends 'components/_base.html' %}
{% block title %}Create testset{% endblock %}
{% block content %}

<div class="container">
    <h1>Create Testset</h1>
    <div class="container my-5">
        <div class="input-area border p-4">
            <h2 class="mb-4">Generate dialogue</h2>
            <p>This tool allows you to craft custom dialogues based on your input.
                Simply describe the scenario you envision, and our tool will generate the
                conversation text for you. Review and adjust the text as needed.</p>
            <div class="mb-3">
                <label for="conversationPrompt">Describe the conversation</label>
                <textarea class="form-control" id="conversationPrompt"
                    placeholder="Create a conversation of an elderly couple discussing their weekend plans."
                    style="height: 100px"></textarea>
            </div>
            <div class="mb-3">
                <label for="voiceIDs">Provide the ElevenLabs voiceIDs including a voice description</label>
                <textarea class="form-control" id="voiceIDs" style="height: 185px;">
- NOpBlnGInO9m6vDvFkFC : Old Male with American accent
- Mr0lS24b2pkDEz6noGEd : Young Female with American accent
- otVgZoZFXk2SZDc0eBdZ : Young Female with Australian accent
- WLKp2jV6nrS8aMkPPDRO : Middle-aged Male with Australian accent
- x3gYeuNB0kLLYxOZsaSh : Middle-aged Male with Indian accent
- aTxZrSrp47xsP6Ot4Kgd : Young Female with African American accent
                </textarea>
                <small class="form-text text-muted">These voiceIDs must be added to VoiceLab in ElevenLabs</small>
            </div>
            <div class="mb-3">
                <label for="conversationCount" class="form-label">Number of Conversations</label>
                <input type="range" class="form-range" min="1" max="10" step="1" id="conversationCount" disabled>
                <span id="conversationCountDisplay">1</span>
            </div>
            <div class="row g-2 align-items-center">
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit" onclick="generateConversation()"
                        id="generateConversationBtn">
                        <span id="btnText">Generate Conversation</span>
                        <span id="btnSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            style="display: none;"></span>
                    </button>
                </div>
                <div class="col-auto">
                    <span id="generateConversationError" class="form-text"
                        style="color: rgb(188, 0, 0); font-weight: bold">
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Conversation Output -->
    <div class="container my-5" id="conversationOutput" style="display: none;">
        <div class="border p-4">
            <h2>Generated Conversation</h2>
            <ul id="conversationList" class="list-group mb-3"></ul>
            <div class="row g-2 align-items-center mb-3">
                <div class="col-auto">
                    <button class="btn btn-primary" type="submit" onclick="generateAudio()" id="generateAudioBtn">
                        <span id="audioBtnText">Generate Audio</span>
                        <span id="audioBtnSpinner" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true" style="display: none;"></span>
                    </button>
                </div>
                <div class="col-auto">
                    <span id="generateAudioError" class="form-text" style="color: rgb(188, 0, 0); font-weight: bold">
                    </span>
                </div>
            </div>
            <div id="audioPlayerContainer" style="display: none;">
                <h4>Listen to the Audio</h4>
                <audio id="audioPlayer" controls>
                    <source src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
</div>
<script>
    var conversationData = null;

    function generateConversation() {
        var promptFld = $('#conversationPrompt');
        var prompt = promptFld.val();
        var voiceIDs = $('#voiceIDs').val();
        var btn = $('#generateConversationBtn');
        var btnText = $('#btnText');
        var btnSpinner = $('#btnSpinner');
        var conversationList = $('#conversationList');
        var errorField = $('#generateConversationError');

        errorField.text('');
        promptFld.prop('disabled', true);
        btn.prop('disabled', true);
        btnText.hide();
        btnSpinner.show();

        $.ajax({
            url: '/api/conversations',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ dialoguePrompt: prompt, voiceIDs: voiceIDs}),
            success: function (response) {
                conversationData = response; // Save the conversation data for later use
                conversationList.empty();
                if (response.status === "success") {
                    var innerConversation = JSON.parse(response.conversation);
                    if (innerConversation.conversation && innerConversation.conversation.length > 0) {
                        innerConversation.conversation.forEach(function (entry) {
                            var listItem = $('<li class="list-group-item"></li>');
                            listItem.html(`<strong>${entry.Name}</strong>: ${entry.Text} <br>
                                       <small>Emotion: ${entry.Emotion}, Timing: ${entry.Timing}s, VoiceID: ${entry.Voice}</small>`);
                            conversationList.append(listItem);
                        });
                        $('#conversationOutput').show();
                    }
                }
            },
            error: function (xhr, status, error) {
                errorMsg = JSON.parse(xhr.responseText);
                errorField.text(errorMsg.message);
                console.error(error);
            },
            complete: function () {
                promptFld.prop('disabled', false);
                btn.prop('disabled', false);
                btnSpinner.hide();
                btnText.show();
            }
        });
    }

    function generateAudio() {
        var btn = $('#generateAudioBtn');
        var btnText = $('#audioBtnText');
        var btnSpinner = $('#audioBtnSpinner');
        var errorField = $('#generateAudioError');
        var audioPlayer = $('#audioPlayer');
        var audioPlayerContainer = $('#audioPlayerContainer');

        errorField.text('');
        btn.prop('disabled', true);
        btnText.hide();
        btnSpinner.show();

        $.ajax({
            url: '/api/conversations/audio',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                conversationData: conversationData.conversation,
                conversationHistory: conversationData.conversation_history
            }),
            success: function (response) {
                if (response.audio_url) {
                    audioPlayer.find('source').attr('src', response.audio_url);
                    audioPlayer[0].load();
                    audioPlayerContainer.show();
                }
            },
            error: function (xhr, status, error) {
                errorMsg = JSON.parse(xhr.responseText);
                errorField.text(errorMsg.message);
                console.error(error);
            },
            complete: function () {
                btn.prop('disabled', false);
                btnSpinner.hide();
                btnText.show();
            }
        });
    }

    // Enable the range input
    document.onload = document.getElementById('conversationCount').value = 1;
    document.getElementById('conversationCount').addEventListener('input', function () {
        document.getElementById('conversationCountDisplay').textContent = this.value;
    });
</script>


{% endblock %}